<div class="grid">
    <div class="col-6">
        <p>Hey there, my name is</p>
        <h2>Silviu Barbu</h2>
        <p>I'm a Romanian Tech Wizard on a quest to create mind-blowing digital experiences.</p>
        <p>Whether it's coding, experimenting with the latest tech toys, or leveling up my skills, I'm all about the thrill of discovery.</p>
        <p>When the sun sets, I'm on a quest to level up my skills, both in the tech realm and the art of being awesome.</p>
    </div>
    <div class="col-12">
        <div>Email me</div>
        <div>Connect with me</div>
    </div>
</div>