<div class="grid">
    <div class="col-12 sm:col-6">
      <p-card  header="Card 1">
        <!-- Content for Card 1 -->
      </p-card>
    </div>
    <div class="col-12 sm:col-6">
      <p-card header="Card 3">
        <!-- Content for Card 2 -->
      </p-card>
    </div>
</div>
<div class="grid">
    <div class="col-12 sm:col-6">
      <p-card  header="Card 1">
        <!-- Content for Card 1 -->
      </p-card>
    </div>
    <div class="col-12 sm:col-6">
      <p-card header="Card 3">
        <!-- Content for Card 2 -->
      </p-card>
    </div>
</div>