img {
    height: 85px;
    width: 85px;
    border-radius: 50%;
}

.contact-div {
    border: 1px solid var(--surface-400);
    padding: 10px;
    text-decoration: none;
    color: var(--surface-600);
    border-radius: 8px;
    margin-bottom: 10px;
}

.contact-div:hover {
    cursor: pointer;
    border: 1px solid var(--surface-800);
    color: var(--surface-800);
    transition: ease-in 0.5s;
}