<h2>Silviu Barbu</h2>

        <div class="flex align-items-center sm:col-6">
            <img src="../../assets/images/themes/avatar.jpg" alt="avatar" class="avatar mr-8">
            <a href="https://www.linkedin.com/in/silviu-barbu-30088a158/" target="_blank" class="mr-4"><span class="pi pi-linkedin" style="font-size: 1.3rem"></span></a>
            <a href="https://twitter.com/stramosi7160" target="_blank" class="mr-4"><span class="pi pi-twitter" style="font-size: 1.3rem"></span></a>
            <a href="https://www.instagram.com/skillviu/" target="_blank" ><span class="pi pi-instagram" style="font-size: 1.3rem"></span></a>    
        </div>
