<div class="flex flex-column align-items-center justify-content-center text-center">
  <img
    src="../../assets/images/themes/avatar.jpg"
    alt="avatar"
    class="avatar"
  />

  <div
    class="col-6 xl:col-6 sm:col-12 flex flex-column align-items-center justify-content-center text-center"
  >
    <div class="mb-4 mt-4">
      Software engineer who loves building cool things with code. Need more project details, or interested in working together? I'd be happy to connect!
    </div>
    <div>
      <a
        href="mailto:barbu.silviu92@gmail.com"
        target="_blank"
        class="flex justify-content-between contact-div"
      >
        <div>
          <span class="pi pi-envelope mr-2"></span>
          Email
        </div>

      </a>
      <a
        href="https://www.linkedin.com/in/silviu-barbu-30088a158/"
        target="_blank"
        class="flex justify-content-between contact-div"
      >
        <div>
          <span class="pi pi-linkedin mr-2"></span>
          LinkedIn
        </div>

      </a>
      <a
        href="https://github.com/silviu-cpu"
        target="_blank"
        class="flex justify-content-between contact-div"
      >
        <div>
          <span class="pi pi-github mr-2"></span>
          Github
        </div>
        
      </a>
      <a
        href="https://twitter.com/stramosi7160"
        target="_blank"
        class="flex justify-content-between contact-div"
      >
        <div>
          <span class="pi pi-twitter mr-2"></span>
          Twitter
        </div>
    
      </a>
      <a
        href="https://www.instagram.com/skillviu/"
        target="_blank"
        class="flex justify-content-between contact-div"
      >
        <div>
          <span class="pi pi-instagram mr-2"></span>
          Instagram
        </div>
       
      </a>
    </div>
  </div>
</div>
