<h2 class="mb-0">Side Projects</h2>
<p class="mt-0 projects-subtitle mb-8">
  Here are some of the projects I've worked on.
</p>

<div class="grid flex sm:col-12 project-container">
  <div class="col-6 xl:col-6 sm:col-12 projects-title">
    <div class="relative desktop-div">
      <img
        class="absolute"
        src="../../assets/images/themes/select.png"
        alt=""
      />
    </div>
  </div>
  <div class="col-6 xl:col-6 sm:col-12 projects-container">
    <div class="project-div">
      <p class="project-name"><strong>Select Media</strong></p>
      <p class="project-paragraph">
        A web application for a foto-video business.
      </p>
      <p class="project-paragraph">
        Technologies used: AngularJS, Bootstrap, EmailJS, AWS Amplify
      </p>
      <a
        class="link-paragraph"
        href="https://select-media.ro"
        target="_blank"
        disabled="false"
        >Visit Project
        <span class="pi pi-arrow-up-right" style="font-size: 0.85rem"></span
      ></a>
    </div>
  </div>
</div>

<div class="grid flex sm:col-12 project-container">
  <div class="col-6 xl:col-6 sm:col-12 projects-title">
    <div class="relative desktop-div">
      <img
        class="absolute"
        src="../../assets/images/themes/academie.png"
        alt=""
      />
    </div>
  </div>
  <div class="col-6 xl:col-6 sm:col-12 projects-container">
    <div class="project-div">
      <p class="project-name"><strong>Academia Inspire</strong></p>
      <p class="project-paragraph">
        A web application for a Programming Academy.
      </p>
      <p class="project-paragraph">
        Technologies used: AngularJS, Bootstrap, EmailJS, AWS Amplify
      </p>
      <a
        class="link-paragraph"
        href="https://academia-inspire.ro"
        target="_blank"
        disabled="false"
        >Visit Project
        <span class="pi pi-arrow-up-right" style="font-size: 0.85rem"></span
      ></a>
    </div>
  </div>
</div>

<div class="grid flex sm:col-12 project-container">
  <div class="col-6 xl:col-6 sm:col-12 projects-title">
    <div class="relative desktop-div">
      <img class="absolute" src="../../assets/images/themes/2pe2.png" alt="" />
    </div>
  </div>
  <div class="col-6 xl:col-6 sm:col-12 projects-container">
    <div class="project-div">
      <p class="project-name"><strong>2pe2arhitectura</strong></p>
      <p class="project-paragraph">
        A web application for an arhitecture office.
      </p>
      <p class="project-paragraph">
        Technologies used: AngularJS, Bootstrap, AWS Amplify
      </p>
      <a
        class="link-paragraph"
        href="https://2pe2arhitectura.ro"
        target="_blank"
        disabled="false"
        >Visit Project
        <span class="pi pi-arrow-up-right" style="font-size: 0.85rem"></span
      ></a>
    </div>
  </div>
</div>

<div class="grid flex sm:col-12 project-container">
  <div class="col-6 xl:col-6 sm:col-12 projects-title">
    <div class="relative desktop-div">
      <img
        class="absolute"
        src="../../assets/images/themes/sapiens.png"
        alt=""
      />
    </div>
  </div>
  <div class="col-6 xl:col-6 sm:col-12 projects-container">
    <div class="project-div">
      <p class="project-name"><strong>Sapiens Tattoo</strong></p>
      <p class="project-paragraph">
        A web application for a tattoo business with an integrated blog feature.
      </p>
      <p class="project-paragraph">
        Technologies used: AngularJS, Bootstrap, AWS Amplify
      </p>
    </div>
  </div>
</div>

<div class="grid flex sm:col-12 project-container mb-6">
  <div class="col-6 xl:col-6 sm:col-12 projects-title">
    <div class="relative desktop-div">
      <img
        class="absolute"
        src="../../assets/images/themes/zidezi2.png"
        alt=""
      />
    </div>
  </div>
  <div class="col-6 xl:col-6 sm:col-12 projects-container">
    <div class="project-div">
      <p class="project-name"><strong>ZideZi</strong></p>
      <p class="project-paragraph">
        A dynamic web application for a food business. This application allows
        customers to purchase products, while administrators have the ability to
        update and delete products automatically.
      </p>
      <p class="project-paragraph">
        Technologies used: AngularJS, AWS Amplify, Lambda + Serverless, GraphQL
        + DynamoDB
      </p>
    </div>
  </div>
</div>

<div class="grid flex sm:col-12 project-container mb-6">
  <div class="col-6 xl:col-6 sm:col-12 projects-title">
    <div class="relative desktop-div">
      <img
        class="absolute"
        src="../../assets/images/themes/sogno2.png"
        alt=""
      />
    </div>
  </div>
  <div class="col-6 xl:col-6 sm:col-12 projects-container">
    <div class="project-div">
      <p class="project-name"><strong>Sogno</strong></p>
      <p class="project-paragraph">
        A web application for a music business presentation, with a subscription
        feature
      </p>
      <p class="project-paragraph">
        Technologies used: NextJS, Firestore database, VHS server + NGINX and
        pm2 for deployment
      </p>
    </div>
  </div>
</div>
