<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <a routerLink="home">
      <img [src]="getThemeImageSrc()" height="40" class="mr-2" />
    </a>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="flex align-items-center justify-content-center">
      <a (click)="changeTheme('saga-blue')" class="mr-3 cursor-pointer">
        <span class="pi pi-sun"></span>
      </a>
      <a (click)="changeTheme('arya-blue')" class="mr-3 cursor-pointer">
        <span class="pi pi-moon"></span>
      </a>
      <a
        (click)="changeTheme('bootstrap4-dark-purple')"
        class="mr-3 cursor-pointer"
      >
        <span class="pi pi-cloud"></span>
      </a>
    </div>
  </ng-template>
</p-menubar>
<div class="card">
  <router-outlet></router-outlet>
</div>
