/* You can add global styles to this file, and also import other style files */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    height: 100%;
    width: 100%;
}

html {
    overflow-x: hidden;
}

* {
    font-family:system-ui, -apple-system, Ubuntu;
}