<div class="grid">
  <div class="sm:col-12 md:col-12 lg:col-8">
    <div class="home-text">
      <p>Hi, my name is</p>
      <h2>Silviu</h2>
    </div>
    <div class="flex align-items-center sm:col-6 flex-wrap">
      <img
        src="../../assets/images/themes/avatar.jpg"
        alt="avatar"
        class="avatar mr-6"
      />
      <a
        href="https://www.linkedin.com/in/silviu-barbu-30088a158/"
        target="_blank"
        class="mr-4"
        ><span class="pi pi-linkedin" style="font-size: 1.3rem"></span
      ></a>
      <a href="https://twitter.com/stramosi7160" target="_blank" class="mr-4"
        ><span class="pi pi-twitter" style="font-size: 1.3rem"></span
      ></a>
      <a href="https://www.instagram.com/skillviu/" target="_blank" class="mr-4"
        ><span class="pi pi-instagram" style="font-size: 1.3rem"></span
      ></a>
      <a href="https://github.com/silviu-cpu" target="_blank"
        ><span class="pi pi-github" style="font-size: 1.3rem"></span
      ></a>
    </div>

    <p>
      I'm a Romanian Tech Wizard on a quest to create mind-blowing digital
      experiences.
    </p>
    <p>
      Whether it's coding, experimenting with the latest tech toys, or leveling
      up my skills, I'm all about the thrill of discovery.
    </p>
    <p>
      When the sun sets, I'm on a quest to level up my skills, both in the tech
      realm and the art of being awesome.
    </p>
  </div>
  <div class="col-12 flex">
    <a href="mailto:barbu.silviu92@gmail.com" class="mr-6"
      ><span class="pi pi-arrow-up-right mr-2" style="font-size: 0.8rem"></span
      >Email me</a
    >
    <a [routerLink]="'/links'"
      ><span class="pi pi-arrow-up-right mr-2" style="font-size: 0.8rem"></span
      >Connect with me</a
    >
  </div>
</div>
